.MySite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: rgba(128, 128, 128, 0.481);
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow-x: scroll;
    gap: 20px;
    scrollbar-width: none;
  }
} 

@media (max-width: 768px) {
  .MySite {
    height: 80px;
    .content {
      h1 {
        font-size: 20px;
      }
    }
  }
}