.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  background: #000;
  color: white;
  .content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    .bottom {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;
      img {
        width: 100px;
        height: 30px;
      }
      h3 {
        font-size: 15px;
      }
      h4 {
        font-size: 12px;
        font-weight: 500;
      }
      .input {
        width: 200px;
        height: 35px;
        background: transparent;
        border: 2px solid white;
        border-radius: 5px;
        input {
          width: 85%;
          background: transparent;
          height: 100%;
          padding-inline: 5px;
          color: white;
          border: none;
          outline: none;
          font-size: 16px;
          &::placeholder {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Footer {
    height: auto;
    padding-block: 20px;
    .content {
      gap: 30px;
      .bottom {
        gap: 10px;
        img {
          width: 70px;
          height: 20px;
        }
        .input {
            width: 180px;
            height: 30px;

        }
      }
    }
  }
}
